.footer.section {
  padding-top: 40px;
  padding-bottom: 0;
  color: var(--mainTextColor);
  background-color: var(--bgc);
}

.footer.footer .flex-footer {
  flex: 0 1 51%;
}

.footer {
  &__container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @media screen and (min-width: 360px) {
      width: 360px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
      display: flex;
      justify-content: center;
    }
    @media screen and (min-width: 1460px) {
      width: 1460px;
      justify-content: start;
      
    }
  }

  &__title {
    @extend %h2;
    margin-bottom: 30px;

    @media screen and (min-width: 1460px) {
      margin-bottom: 78px;
    }
  }

  &__subtitle {
    @extend %h3;
    margin-bottom: 30px;
  }

  &__adress {
    &-item:not(:last-child) {
      margin-bottom: 25px;
    }

    &-item:last-child {
      margin-bottom: 50px;
    }

    &-link {
      font-weight: 400;
      font-size: 20px;
      line-height: 1.35;
      color: var(--mainTextColor);

      &.tel {
        font-size: 21px;
        font-weight: 600;
      }
    }

    &-icon {
      fill: var(--secondaryTextColor);
      margin-right: 10px;

      &.geo-icon {
        align-self: flex-start;
        transform: translateY(25%);
      }
    }
  }

  &__background {
    margin: 0 auto;  
    width: 100%;
    height: 488px;
    background: url(../images/icons/logo.svg) no-repeat 132px 130px,
      url(../images/footer/russia-pc1x.png) no-repeat;
    background-size: 22px 28px, cover;

    @media screen and (min-width:360px){
      width: 360px;
      
    }

    @media screen and (min-width:768px){
      width: 768px;
      background-size: 22px 28px, contain;
      background-position: 270px 130px,center;
    }
    
    

    @media screen and (min-width: 1460px) {
      display: none;
      flex: 1 1 59%;
      height: 888px;
      background-position: 242px 241px, left;
      background-size: 43px 58px, contain;
    }
  }
}

.icons-wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

// @media (min-device-pixel-ratio: 1),
//   (min-resolution: 192dpi) and (min-width: 1460px),
//   (min-resolution: 2dppx) and (min-width: 1460px) {
//   .footer__background {
//     width: 100%;
//     height: 500px;
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/footer/russia-pc1x.png);
//   }
// }
