.form__field {
  @media screen and (min-width: 1460px) {
    display: flex;
    flex-wrap: wrap;

    &-name {
      order: 1;
      margin-right: 34px;
    }
    &-number {
      order: 2;
    }
    &-upload {
      order: 3;
      margin-right: 34px;
    }
    &-policy {
      order: 5;
      margin-top: 40px;
    }
    &-submit {
      order: 4;
    }
  }

  &-submit {
    display: block;
    margin: 0 auto;
    padding: 20px 50px;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--secondaryTextColor);
    color: var(--secondaryTextColor);
    transition: background-color var(--transition-duration)
      var(--transition-timing-function);

    @media screen and (min-width: 1460px) {
      width: 340px;
      padding: 21px 15px;
      margin: 0;
    }
  }

  &-submit:hover,
  &-submit:focus {
    color: black;
    background-color: var(--hoverBgcBtns);
    border-color: var(--formInputColor);
  }
}

.form {
  &__feedback {
    display: block;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.55;
    color: var(--mainTextColor);
    margin-bottom: 12px;
  }

  &__suptitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: var(--mainTextColor);
    margin-bottom: 25px;
  }

  // &__field {
  //   display: flex;
  //   font-weight: 400;
  //   font-size: 14px;
  //   line-height: 1.6;
  //   /* or 156% */

  //   color: var(--mainTextColor);
  // }

  &__label {
    display: block;
    margin-bottom: 10px;

    &.upload-files {
      position: relative;
      display: block;
      width: 100%;
      padding: 15px 25px;
      color: var(--mainTextColor);
      background-color: var(--formInputColor);
      line-height: 1.2;
      color: var(--secondaryTextColor);
      cursor: pointer;
      border: 1px solid transparent;

      transition: border-color var(--transition-duration)
        var(--transition-timing-function);

      @media screen and (min-width: 1460px) {
        width: 340px;
        padding: 21px 15px;
        margin-bottom: 0px;
      }
    }

    &.upload-files:hover {
      border-color: var(--secondaryTextColor);
    }

    &-icon {
      position: absolute;
      right: 18px;
      top: 16px;
      width: 16px;
      height: 16px;
      color: var(--secondaryTextColor);
    }
  }

  &__input {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 15px 25px;
    border: 1px solid transparent;

    color: var(--mainTextColor);
    background-color: var(--formInputColor);
    transition: border-color var(--transition-duration)
      var(--transition-timing-function);

    &:hover,
    &:focus,
    &:focus-within {
      border-color: var(--secondaryTextColor);
    }

    &:valid {
      border-color: green;
    }

    &::placeholder {
      color: var(--secondaryTextColor);
    }

    @media screen and (min-width: 1460px) {
      width: 340px;
      padding: 21px 15px;
    }
  }
}

.form__policy {
  &-label {
    position: relative;
    display: inline-block;
    text-decoration: line-through;
    margin-bottom: 30px;
    line-height: 1.8;
    margin-left: 42px;
    cursor: pointer;
  }

  &-label::before {
    position: absolute;
    top: 0;
    left: -42px;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid var(--hoverBgcBtns);
    margin-right: 8px;
    background: transparent url(../images/icons/cross.svg) no-repeat center;
    background-size: 13px 13px;
  }

  &-checkbox:checked,
  &-checkbox:checked:focus + &-label::before {
    background: var(--hoverBgcBtns) url(../images/footer/checkmark.svg)
      no-repeat center;
    background-size: 13px 13px;
  }

  &-checkbox:checked,
  &-checkbox:checked:focus + &-label {
    text-decoration: none;
  }
}
