.form {
  &__feedback {
    display: block;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.55;
    color: var(--mainTextColor);
    margin-bottom: 12px;
  }

  &__suptitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: var(--mainTextColor);
    margin-bottom: 25px;
  }

  &__field {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    /* or 156% */

    color: var(--mainTextColor);
  }

  &__label {
    display: block;
    margin-bottom: 10px;

    &.upload-files {
      position: relative;
      display: block;
      width: 320px;
      padding: 15px 25px;
      color: var(--mainTextColor);
      background-color: var(--formInputColor);
      line-height: 1.2;
      color: var(--secondaryTextColor);
      cursor: pointer;
      border: 1px solid transparent;

      transition: border-color var(--transition-duration)
        var(--transition-timing-function);
    }

    &.upload-files:hover {
      border-color: var(--secondaryTextColor);
    }

    &-icon {
      position: absolute;
      right: 18px;
      top: 16px;
      width: 16px;
      height: 16px;
      color: var(--secondaryTextColor);
    }
  }

  &__input {
    display: block;
    margin-bottom: 20px;
    width: 320px;
    padding: 15px 25px;
    border: 1px solid transparent;

    color: var(--mainTextColor);
    background-color: var(--formInputColor);
    transition: border-color var(--transition-duration)
      var(--transition-timing-function);

    &:hover,
    &:focus,
    &:focus-within {
      border-color: var(--secondaryTextColor);
    }

    &:valid {
      border-color: green;
    }

    &::placeholder {
      color: var(--secondaryTextColor);
    }
  }

  &__btn-submit {
    display: block;
    margin: 0 auto;
    padding: 20px 50px;
    width: 320px;
    background-color: transparent;
    border: 1px solid var(--secondaryTextColor);
    color: var(--secondaryTextColor);
    transition: background-color var(--transition-duration)
      var(--transition-timing-function);
  }

  &__btn-submit:hover,
  &__btn-submit:focus {
    color: black;
    background-color: var(--hoverBgcBtns);
    border-color: var(--formInputColor);
  }
}

.form__policy {
  &-label {
    position: relative;
    display: inline-block;
    text-decoration: line-through;
    margin-bottom: 30px;
    line-height: 1.8;
    margin-left: 42px;
    cursor: pointer;
  }

  &-label::before {
    position: absolute;
    top: 0;
    left: -42px;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid var(--hoverBgcBtns);
    margin-right: 8px;
    background: transparent url(../images/icons/cross.svg) no-repeat center;
    background-size: 13px 13px;
  }

  &-checkbox:checked,
  &-checkbox:checked:focus + &-label::before {
    background: var(--hoverBgcBtns) url(../images/footer/checkmark.svg)
      no-repeat center;
    background-size: 13px 13px;
  }

  &-checkbox:checked,
  &-checkbox:checked:focus + &-label {
    text-decoration: none;
  }
}
