.main {
  flex: 1 1 auto;
  color: #ffffff;
  background-color: var(--bgc);
}

.hero__container {
  margin: 0 auto;
  width: 100%;
  padding: 0px 20px;
  // border: yellow 1px solid;

  @extend %mediaScreen;
}

.flex-container-one {
  display: flex;
}

.flex-conttainer-three {
  flex: 1 1 50%;
}

.hero {
  padding: 62px 0 62px 0px;
  background-color: slategray;
  background: url(../images/hero/hero-pc-1x.jpg);
  background-size: cover;
  @media screen and (max-width: 768px) {
    background-image: none;
    background-attachment: fixed;
  }

  &__ski-backgr {
    flex: 1 1 50%;
    display: inline-block;
    width: 394px;
    height: 518px;
    background: url(../images/hero/shield-pc-1x.svg) no-repeat center;
    background-size: 400px 520px;

    @media screen and (max-width: 1459px) {
      display: none;
    }
  }

  &__logo::before {
    content: "";
    display: block;
    background-image: url(../images/icons/logo222.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 320px;
    height: 50px;
    margin-bottom: 55px;

    @media screen and (min-width: 1460px) {
      width: 500px;
      height: 77px;
    }
  }

  &__canDo-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__canDo-item {
    width: 225px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.35;
    color: #ffffff;
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
      &:nth-child(1) {
        order: 1;
      }
      &:nth-child(2) {
        order: 2;
      }
      &:nth-child(3) {
        order: 4;
      }
      &:nth-child(4) {
        order: 5;
      }
      &:nth-child(5) {
        order: 3;
        margin-bottom: 36px;
      }
    }
  }

  &__canDo-item:not(:last-child) {
    margin-bottom: 36px;
  }

  &__canDo-item:last-child {
    display: inline-flex;
  }

  &__icon {
    align-self: stretch;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    flex: none;

    @media screen and (min-width: 768px) {
      width: 50px;
      height: 50px;
    }

    @media screen and (min-width: 1460px) {
      width: 60px;
      height: 60px;
    }
  }

  // ==========second list

  &__fullComp {
    margin-bottom: 23px;

    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;
    color: #ffffff;

    &-list {
      font-size: 19px;
      line-height: 1.57;
      font-weight: 400;
    }

    &-item::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 2px;
      background-color: white;
      margin-bottom: 5px;
      margin-right: 12px;
    }
  }
}

// @media (min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi) and (min-width: 1200px),
//   (min-resolution: 2dppx) and (min-width: 1200px) {
//   .hero {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url("../image/pc/hero-comp@2x.jpg");
//   }
// }

// @media (min-device-pixel-ratio: 1),
//   (min-resolution: 96dpi) and (max-width: 1199px),
//   (min-resolution: 1dppx) and (max-width: 1199px) {
//   .hero {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url("../image/tablet/hero-tablet.jpg");
//   }
// }

// @media (min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi) and (max-width: 1199px),
//   (min-resolution: 2dppx) and (max-width: 1199px) {
//   .hero {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url("../image/tablet/hero-tablet@2x.jpg");
//   }
// }

// @media (min-device-pixel-ratio: 1),
//   (min-resolution: 96dpi) and (max-width: 767px),
//   (min-resolution: 1dppx) and (max-width: 767px) {
//   .hero {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url("../image/mobile/Hero.jpg");
//   }
// }

// @media (min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi) and (max-width: 767px),
//   (min-resolution: 2dppx) and (max-width: 767px) {
//   .hero {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url("../image/mobile/Hero2x.jpg");
//   }
// }
