.policy {
  @extend %padding;

  &__container {
    margin: 0 auto;
    padding: 0 20px;
    @extend %mediaScreen;
  }

  &__heading {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 30px;
    line-height: 0.93;
    color: #ffffff;
  }

  &__wrapper {
    display: inline-flex;
    margin-top: 25px;
  }

  &__title {
    @extend %h2;
    margin-bottom: 10px;
  }

  &__text-container {
    display: inline-flex;
    flex-direction: column;
  }

  &__text {
    @extend %textPolicy;
  }

  &__icon {
    @extend %iconParam;
    margin-right: 13px;
  }

  .policy__btn-about-us {
    display: block;
    width: 100%;
    margin-top: 32px;
    padding: 10px;
    color: var(--secondaryTextColor);
    // @extend %hoverColor;

    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.59;
    border: 1px solid;
    background-color: transparent;
    transition: background-color var(--transition-duration)
      var(--transition-timing-function);
    @extend %borderColor;

    &:hover,
    &:focus {
      color: black;
      background-color: var(--hoverBgcBtns);
      border-color: var(--secondaryTextColor);
    }
    @media screen and (min-width: 1460px) {
      margin-left: 53px;
      width: 260px;
      overflow: auto;
    }
  }
  .policy__flex-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    @media screen and (min-width: 1460px) {
      justify-content: space-around;
    }
  }
  .policy__flex {
    @media screen and (min-width: 1460px) {
      display: flex;
    }
  }
}
