// data-lazy="" ленивая загрузка

.slider__container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  
}

.slider {
  margin-top: 70px;
  // padding: 0px 20px;
  position: relative;
  z-index: 3;
}
/* Слайдер */
// .slick-slider {
// }
// /* Слайдер запущен */
// .slick-slider.slick-initialized {
// }
// /* Слайдер с точками */
// .slick-slider.slick-dotted {
// }
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}
/* Слайд */
// .slick-slide {
//   width: 100px;
// }
// /* Слайд активный (показывается) */
// .slick-slide.slick-active {
//   width: 100px;
// }
// /* Слайд основной */
// .slick-slide.slick-current {
// }
// /* Слайд по центру */
// .slick-slide.slick-center {
// }
// /* Клонированный слайд */
// .slick-slide.slick-cloned {
// }
/* Стрелка */
.slick-arrow {
  z-index: 10;
  position: absolute;
  top: 75%;
  font-size: 0;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border: 1px solid var(--secondaryTextColor);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  right: 90px;
  background: url(../images/icons/arrow-l.svg) 50% 50% / 50% no-repeat;
}
.slick-arrow:hover.slick-prev {
  background-color: var(--secondaryTextColor);
}
/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 30px;
  background: url(../images/icons/arrow-r.svg) 50% 50% / 50% no-repeat;
}
.slick-arrow:hover.slick-next {
  background-color: var(--secondaryTextColor);
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
  opacity: 0.3;
}
/* Точки (булиты) */
.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li:not(:last-child) {
  margin-right: 10px;
}
/* Активная точка */
// .slick-dots li.slick-active {
// }
/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #e4b564;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slick-dots li.slick-active button {
  background-color: #fff;
}

.content {
  margin: 0 auto;
  padding: 20px 30px;
  height: 170px;  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #202020;
  
  

  &__title {
    margin-bottom: 5px;

    font-weight: 700;
    font-size: 15px;
    line-height: 1.61;
    color: #ffffff;
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 30px;
    letter-spacing: 0.1em;
  }
}
