
.gm{
   width: 500px;
   height: 500px;
}

    .screen__index{
       background-color: #0e0e0e;


      @media screen and (min-width:1460px){ 
min-height: 100vh;
  background: url(../images/hero/hero-pc-1x.jpg);
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) 
  {
     background-image: url(../images/hero/hero-pc-2x.jpg);
  }
      }

  

 &-two{
    background-color: var(--bgc);
    min-height: 100vh;
 }

 &-three{
    background-color: #0e0e0e;;
    min-height: 100vh;
 }

 &-four{
    background-color: var(--bgc);
    min-height: 100vh;

     @media screen and (min-width: 1460px) {
        background: 
      url(../images/footer/russia-pc1x.png) no-repeat right;
      background-size: 49%;
   
 }
}
}
.screen-projects{
   padding: 0 0 64px 0;
    background-color: #0e0e0e;
}
