.container {
    max-width: 1460px;
    padding: 0 5px 0 5px;
    margin: 0 auto;

    @media screen and (min-width: 360px) {
        padding: 0 20px 0 20px;
    }
}

.header__container-vacancy {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding: 10px 20px;
    max-width: 1460px;
}

.vacancy {
    background-color: black;
    &__container {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__container-text {
        padding-top: 25px;
        @media screen and (min-width: 768px) {
            flex: 1 1 50%;
            padding: 35px 0 75px 0;
        }
    }
    &__container-third {
        padding-top: 0;
        @media screen and (min-width: 1030px) {
            padding: 233px 0 233px 0;
        }
    }

    &__titles {
        margin-top: 40px;

        &-third {
            margin-top: 0;
        }
    }

    &__list-wrapper {
        margin-top: 20px;
    }

    &__list-heading {
        text-decoration: underline;
        text-decoration-color: #e4b564;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
    }

    &__list {
        margin-top: 8px;
    }

    &__item {
        position: relative;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
    }

    &__item::before {
        position: absolute;
        left: -11px;
        top: 11px;
        content: "";
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #e4b564;
        transform: translateY(-3px);
    }

    &__item:not(:first-child) {
        margin-top: 30px;
    }

    &__btn {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 48px;
        max-width: 320px;

        border: 1px solid #e4b564;
        color: #e4b564;
        @media screen and (max-width: 796px) {
            margin: 40px auto 0 auto;
        }
    }

    &__container-bg {
        margin: 50px auto 0 auto;
        max-width: 310px;
        height: 410px;
        background: url(../images/vacancy/stroitel1x-mob-min.png) no-repeat,
            url(../images/vacancy/sh1x-mob.png) no-repeat;
        background-size: cover;

        @media screen and (min-width: 768px) {
            flex: 1 1 50%;
            align-self: flex-end;
            margin: 0 auto 0 auto;
        }

        @media screen and (min-width: 1030px) {
            max-width: 516px;
            height: 678px;
            background: url(../images/vacancy/stroitel1x-pc-min.png) no-repeat,
                url(../images/vacancy/sh1x-pc.png) no-repeat;
            background-size: cover;
        }

        @media screen and (min-width: 1300px) {
            margin-right: 100px;
        }
    }

    &__third {
        padding-top: 70px;
    }
}

.second-bg {
    background: url(../images/vacancy/st21x-mob.png) no-repeat, url(../images/vacancy/sh1x-mob.png) no-repeat;

    @media screen and (min-width: 1030px) {
        background: url(../images/vacancy/st21x-pc.png) no-repeat, url(../images/vacancy/sh1x-pc.png) no-repeat;
    }
}

.page {
    &__link {
        display: inline-block;
        color: #606060;

        &-active {
            text-decoration: underline;
        }
    }
}
.main-title {
    font-weight: bold;
    font-size: 38px;
    line-height: 28px;
}
.sub-title {
    margin-top: 75px;

    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;
}

.sub-title__third {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;
}
.requirements {
    &__link {
        font-weight: normal;
        font-size: 16px;
        line-height: 1.2;

        color: #e4b564;
        margin-top: 30px;
        display: inline-block;
        color: #e4b564;
        border-bottom: 1px #e4b564 dashed;
    }
}

.vacancy__second {
    background-color: var(--bgc);
}

.vacancy__container-second {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
}

.second__text {
    @media screen and (min-width: 796px) and (max-width: 1300px) {
        padding-left: 40px;
    }
    @media screen and (min-width: 1460px) {
        padding-top: 159px;
    }
}

.staff {
    margin-top: 8px;

    &__item {
        position: relative;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;

        &::before {
            position: absolute;
            left: -11px;
            top: 11px;
            content: "";
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #e4b564;
            transform: translateY(-3px);
        }

        &:not(:first-child){
            margin-top: 8px;
        }
    }
}

.installation {
    margin-top: 32px;

    &__list{
        margin-top: 6px;
    }

    &__item {
        position: relative;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.8;
        color: #ffffff;

        &::before {
            position: absolute;
            left: -11px;
            top: 16px;
            content: "";
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #e4b564;
            transform: translateY(-3px);
        }

    }
}
