.container {
    max-width: 1460px;
    padding: 0 5px 0 5px;
    margin: 0 auto;

    @media screen and (min-width: 360px) {
        padding: 0 20px 0 20px;
    }
}

.vacancy {
    width: 100%;
    min-height: 100vw;
    background-color: black;
    &__container {
        @media screen and (min-width: 495px) {
            text-align: center;
        }

        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }

        @media screen and (min-width:796px){
            text-align: left;
        }
        
    }

    &__container-text {
        padding-top: 25px;
        @media screen and (min-width: 768px) {
            flex: 1 1 50%;
            padding: 35px 0 75px 0;
        }
    }

    &__titles {
        margin-top: 40px;
    }

    &__list-wrapper {
        margin-top: 20px;
    }

    &__list-heading {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
    }

    &__list {
        margin-top: 8px;
        
    }

    &__item {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
    }

    &__item:not(:first-child) {
        margin-top: 30px;
    }

    &__btn {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 48px;
        max-width: 320px;
        margin-top: 40px;

        border: 1px solid orange;
        color: orange;
    }

    &__container-bg {
        margin: 50px auto 0 auto;
        max-width: 310px;
        height: 410px;
        background: url(../images/vacancy/stroitel1x-mob-min.png) no-repeat,
            black url(../images/vacancy/sh1x-mob-min.jpg) no-repeat;
        background-size: cover;

        @media screen and (min-width: 768px) {
            flex: 1 1 50%;
            align-self: flex-end;
            margin: 0 auto 0 auto;
        }
        
        @media screen and (min-width: 1030px) {
                    max-width: 516px;
                    height: 678px;
                background: url(../images/vacancy/stroitel1x-pc-min.png) no-repeat,
                     url(../images/vacancy/sh1x-pc.png) no-repeat;
                background-size: cover;
            
        }

        @media screen and (min-width:1300px){
            margin-right: 100px;
        }
        
    }
}

.page {
    &__active {
    }

    &__link {
        display: inline-block;
        color: #606060;
    }
}
.main-title {
    font-weight: bold;
    font-size: 38px;
    line-height: 28px;
}
.sub-title {
    margin-top: 75px;

    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;
}
.requirements {
    &__link {
        margin-top: 30px;
        display: inline-block;
        color: orange;
    }
}
